body{
	font-family: Arial;
}

.contenedor{
	margin: 50px auto;
}

table{
	width: 100%;
	border-collapse: collapse;
	background-color: #fff;
	text-align: left;
}

th, td {
	padding: 15px;
}

thead{
	color: white;
	border-bottom: solid 5px #F90421;
}

tr:nth-child(even){
	background-color: #EFECEC;
}

#titulo{
	align-content: center;
	text-align: center;
}