<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="estilos.css">
</head>
<body>
	<header>
	<div id="titulo">
		<h3>
			REPORTE DE ORDENES
		</h3>
	</div>
	</header>
	
	<div class="contenedor">
		<table>
			<thead>
				<tr>
					<th>#</th>
					<th>CODIGO</th>
					<th>FECHA REGISTRO</th>
					<th>FECHA CIERRE</th>
					<th>PLACA</th>
					<th>DESCRIPCION</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>dats</th>
					<th>dats</th>
					<th>dats</th>
					<th>dats</th>
					<th>dats</th>
					<th>dats</th>
				</tr>
				<tr>
					<th>dats</th>
					<th>dats</th>
					<th>dats</th>
					<th>dats</th>
					<th>dats</th>
					<th>dats</th>
				</tr>
				<tr>
					<th>dats</th>
					<th>dats</th>
					<th>dats</th>
					<th>dats</th>
					<th>dats</th>
					<th>dats</th>
				</tr>
				<tr>
					<th>dats</th>
					<th>dats</th>
					<th>dats</th>
					<th>dats</th>
					<th>dats</th>
					<th>dats</th>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>
