/* Pagina error 404 */

html,body{
    margin: 0px;
    padding: 0px;
    height: 100%;
}
.container-404{
    background-image: url(../imagenes/404.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    display: flex;
    padding: 1%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.aviso{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 50%;
}

/* Pagina de Inicio */

.franja-azul{
    box-shadow: 2px 0 #dc3545 inset;
}


/* Insertar Imagen */

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    max-width: 400;
    max-height: 300;
}
