/* Estilos Generales */
body {
  overflow-x: hidden;
}

#contenedor-principal {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* -----Fin--------- */

#titulo{
  font-size: 30px;
}

#resaltado{
  color: #FA2121;
}


/* Estilos Contenedor Lateral */
#contenedor-lateral {
  z-index: 1000;
  position: fixed;
  left: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #000;
  width: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#contenedor-lateral::-webkit-scrollbar{
  width: 7px;
}

#contenedor-lateral::-webkit-scrollbar-thumb{
  background: rgba(162, 161, 162, .5);
  border-radius: 5px;
  border-right: 2px solid #000;
}

#contenedor-lateral::-webkit-scrollbar-thumb:hover{
  background: rgba(162, 161, 162, .8)
}
/* ---------Fin---------- */

/*Estilos Barra Superiot*/
.borde{
	border-bottom: 2px solid red;
}
/* --------Fin-------- */

/* Estilos Menu Lateral */
#menu-lateral {
  position: absolute;
  top: 0;
  width: 290px;
  margin: 0;
  padding: 0; 
  list-style: none;
}

#iconos div a  {
  color: #999999;
  text-decoration: none;
}

#iconos div a :hover{
  color: #fff;
}

#menu-lateral li {
  text-indent: 20px;
  line-height: 40px;
  margin: 5px;
}

#menu-lateral li a.sombra {
  display: block;
  text-decoration: none;
  color: #999999;
  box-shadow: 2px 0 #dc3545 inset;
}

#menu-lateral li a.sombra:hover {
  text-decoration: none;
  color: #fff;
  background: #dc3545;
  transition: all .5s;
  /* padding-left: 5%; */
}
/* ----------Fin----------- */

/* Estilo con la Clase Mostrar */
#contenedor-principal.mostrar {
  padding-left: 300px;
}

#contenedor-principal.mostrar #contenedor-lateral {
    width: 300px;
  }

#contenido-principal {
    padding: 20px;
    position: relative;
  }

#contenedor-principal.mostrar #contenido-principal {
    position: relative;
    margin-right: 0;
  }
/* ----------Fin----------- */


/* Estilos Login */
.login{
  background: url("../imagenes/cables.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
}
/* ------Fin--------- */


/* Para Dispositivos pequeños */
@media(min-width:768px) {
  #contenedor-principal {
    padding-left: 0;
  }
  #contenedor-principal.mostrar {
    padding-left: 300px;
  }
  #contenedor-lateral {
    width: 0;
  }
  #contenedor-principal.mostrar #contenedor-lateral {
    width: 300px;
  }
  #contenido-principal {
    padding: 20px;
    position: relative;
  }
  #contenedor-principal.mostrar #contenido-principal {
    position: relative;
    margin-right: 0;
  }
}

/* -----Fin--------- */


/* Estilos Acordeon */

#menu-lateral ul{
  display: none;
  list-style: none;
}

#menu-lateral .activo > a.sombra {
  background: #dc3545;
  color: #fff;
  /* padding-left: 5%; */
}

.sub-a {
  text-decoration: none;
  color: #999999;
}

.sub-a:hover {
  text-decoration: none;
  color: #fff;
}

/* -------Fin---------- */



/*---------- ESTILOS DIVERSOS ----------------------*/

/* 404 */

.container-404{
  background-image: url(./vistas/imagenes/404.jpg);
}

#tabla{
  display: block;
  max-height: 200px;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  background: #000000;
}